/* Q1: Add your CSS styles here */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
	max-width: 100%;
	scroll-behavior: smooth;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main_blue: #34495e;
}

body {
  font-family: Arial, sans-serif;
}

/*Header*/

.header {
  width: 100%;
  background-color: var(--main_blue);
}

.nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 75px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*main*/

.main_content {
  width: 100%;
  height: 100%;
}

.main_content .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  background-color: var(--white);
  border-top: 1px black solid;
}

.main_content .section .title {
  padding-top: 25px;
  color: var(--main_blue);
}

.main_content .section .text {
  color: var(--black);
}

/*footer*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--main_blue);
  color: var(--white);
}